<html>
<head>
    <title>Here Be Dragons</title>
</head>
<body>

<!-- The code <%= yield %> is a Ruby thing that says to stop 
there and run the other views then come back. -->
<%= yield %>

</body>
</html>